.main{
    display: grid;
    grid-template-columns: auto fit-content(500px);
    max-width: 1594px;
    margin: 0 auto;
}

.video-container{
    max-width: 1099px;
}

.related-video-list{
    margin: 0;
    padding: 0;
    border: none;
}

.comments-container{
    max-width: 1099px;
}