:root{
  --blue:rgb(6, 95, 212);
  --gray: rgb(110, 110, 110)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%b;
    margin-top: 8px;
    height: 56px;
    padding: 0 10px;
}

.start{
  display: flex;
  flex-direction: row;
}

.start .logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-icon{
  padding: 7.5px 20px 0 0;
}

.material-icons{
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px !important;
  display: inline-block;
  line-height: 1;
  color: rgb(129, 129, 129);
}

.material-icons-outlined{
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  color: rgb(105, 105, 105);
  padding-left: 10px;
}

.material-icons-round{
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  color: var(--blue);
}

.end{
  display: flex;
  padding-top: 10px;
}

.end a{
  text-decoration: none
}

.material-icons--signin{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 106px;
  height: 40px;
  margin-top: -8px;
  margin-left: 5px;
  border: 1px solid var(--blue);
  border-radius: 2px;
  padding: 6px 10px
}

.material-icons--signin p{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--blue);
}

.material-icons--signin p::before{
  content: "";
  padding-left: 5px;
}
.wrap{
  background-color: rgba(0, 0, 0, 0.03);
}
.main{
  margin-top: 10px;
  padding-top: 12px;
}

.video-container{
  padding: 0 20px;
}

.video-container--video{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container--video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container--info{
  margin-top: 10px;
}

.video-container--info h1{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.video-container--icons{
  display: flex;
  justify-content: space-between;
  align-content:center;
}

.video-container--icons-start{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray);
}

.video-container--icons-end{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray);
}

.video-container--icons-end__icon{
  display: flex;
  align-items: center;
  gap: 3px;
}

.video-container--icons-end__icon span::before{
  content: "";
  padding-right: 15px;
}

.video-container--channel{
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(226, 226, 226);
  margin-top: 7px;
  padding: 10px 0;
}

.video-container--channel--details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.channel--info{
  display: flex;
  flex-direction: column;
}
.channel--name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.channel--name .material-icons{
  font-size: 1.2rem !important;
  color: rgb(90, 90, 90) !important;
}

.channel--number{
  font-size: 1.3rem;
  color: var(--gray);
}

.channel--number .material-icons{
  font-size: 1.3rem !important;
  color: rgb(90, 90, 90) !important;
}

.subscribe--button{
  height: 3.7rem;
  min-width: 7.196rem;
  font-family: 'Roboto', sans-serif;;
  margin-left: auto;
  padding: 10px 16px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
}

.video-container--channel--description{
  margin-block-start: 10px;
  padding: 0 10px 0 60px;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.related-video-list{
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(226, 226, 226);
  gap: 5px;
  margin: 7px 15px 0 15px;
  padding: 10px 0; 
}

.related-video-list--item{
  display: flex;
  gap: 5px;
}

.description-video--name{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-block-end: 3px;
}

.description-channel--name, .description-video--number{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--gray);
}

.description-channel--name .material-icons{
  font-size: 1.2rem !important;
  padding-left: 3px;
}

.comments-container{
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(226, 226, 226);
  gap: 5px;
  margin: 7px 15px 0 15px;
  padding: 10px 0;
}

.comments-container-count{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

.comments-container-count p{
  padding-inline-end: 10px;
}
.gray-p{
  padding-left: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray);
}

.comments-container-add{
  display: flex;
  align-items: center;
  padding-block-start: 24px;
}

.comments-container-add--user img{
  width: 40px;
  border-radius: 50%;
}

.comments-container-add--public{
  margin-block-end: 10px;
  padding-inline-start: 10px;
  width: 100%;
}
.comments-container-add--public label{
  color: rgba(0, 0, 0, 0.03);;
  font-size: 0.1rem;
}
.comments-container-add--public input{
  font-size: 1.4rem;
  padding-block-end: 4px;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgb(216, 216, 216);
  background-color: transparent;
}

.comments-container-list{
  display: flex;
  flex-direction: column;
}

.comments-container-list--item{
  display: flex;
  flex-direction: row;
  margin-block-start: 30px;
}

.userphoto img{
  width: 4rem;
  border-radius: 50%;
  margin-inline-end: 16px;
}

.usercomment{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.userinfo{
  display: flex;
  flex-direction: row;
}

.userinfo .userinfo-username{
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  margin-inline-end: 5px;
}

.userinfo .userinfo-time-added{
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(96, 96, 95);
}

.usercomment .comment{
  margin-block-start: 5px;
}

.votes{
  display: flex;
  flex-direction: column;
}

.votes .material-icons{
  font-size: 1.6rem !important;
  font-weight: 400;
}

.votes--icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-start: 10px;
}

.votes--icons__icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 14px;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(96, 96, 96);
}

.votes--replies{
  display: flex;
  flex-direction: row;
  margin-block-start: 10px;
  margin-inline-start: -5px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--blue);
}

.votes--replies .material-icons{
  font-size: 2rem !important;
  font-weight: 500;
  color: var(--blue);
}

.votes--replies .material-icons::after{
  content: "";
  padding-inline-end: 10px;
}