:root{
  --blue:rgb(6, 95, 212);
  --gray: rgb( 96, 96, 96)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    grid-template-columns: 20% 60% 20%;
    height: 20px;
    padding-right: 10px;
}

.start{
  display: flex;
  flex-direction: row;
}

.menu-icon{
  padding: 7.5px 6px 0 0;
}

.material-icons{
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  display: inline-block;
  line-height: 1;
  color: rgb(85, 84, 84);
}

.material-icons-outlined{
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  color: rgb(85, 84, 84);
  padding-left: 10px;
}

.material-icons-round{
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  line-height: 1;
  color: var(--blue);
}

.ytd-topbar-logo-renderer{
  padding-top: 5px;
  height: 24px;
  width: 50px;
}

.end{
  display: flex;
  padding-top: 10px;
}

.end a{
  text-decoration: none
}

.material-icons--signin{
  display: flex;
  margin-top: -3px;
  margin-left: 5px;
  border: 1px solid var(--blue);
  border-radius: 1px;
  padding: 2px 5px
}

.material-icons--signin p{
  font-size: 8px;
  font-weight: 500;
  padding-top: 4px;
  color: var(--blue);
}

.material-icons--signin p::before{
  content: "";
  padding-left: 5px;
}


.line{
  margin: 3px 0;
  height: 1px;
  width: 12px;
  background-color: gray;
}

.main{
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: 10px;
  padding-top: 12px;
}

.video-container{
  padding: 0 10px;
}

.video-container--video{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container--video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container--info{
  margin-top: 10px;
}
.video-container--info h1{
  font-size: 1rem;
  font-weight: 400;

}

.video-container--icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 400;
  color: var(--gray);
}

.video-container--icons__icon{
  display: flex;
  align-items: center;
}

.video-container--icons__icon span::after{
  content: "";
  padding-right: 5px;
}