*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    height: 20px;
    padding: 5px 16px;
}

.start{
  display: flex;
  flex-direction: row;
}

.material-icons-outlined{
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.ytd-topbar-logo-renderer{
    height: 24px;
    width: 50px;
}
  
.menu-icon{
    padding: 6px;
    margin-right: 20px;
}

.line{
  margin: 3px 0;
  height: 1px;
  width: 12px;
  background-color: gray;
}

.main{
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: 10px;
  padding-top: 12px;
}

.video-container{
  padding: 0 10px;
}

.video-container--video{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container--video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container--info{
  margin-top: 10px;
}
.video-container--info h1{
  font-size: 1rem;
  font-weight: 400;

}